body {
  background-color: #87c287;
  margin: 20px;
}

li {
  font-family: cursive;
  display: inline-block;
  float:left;
  width:300px;
  height:auto;
  overflow: auto;
  margin: 20px;
  border: 8px outset gainsboro;
  padding: 20px;
}

ul {
  list-style-type: none;
  overflow: auto;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  float:left;
  height: 150px;
  width: 100%;
  overflow: auto;
}

.form-control {
  width: 40%;
}

.frame {
  border-bottom: 6px groove yellowgreen;
  margin: -10px -1.4em 5px -1.4em;
}

.edit-button,
.remove-button {
  float:right;
}

.thumb {
  display: block;
}
